#buttonu345
{
	border-color: #787878;
	background-color: transparent;
}

#pamphletu346
{
	-webkit-transform: matrix(-1,0,0,-1,185,1393);
	-ms-transform: matrix(-1,0,0,-1,185,1393);
	transform: matrix(-1,0,0,-1,185,1393);
}

#u356
{
	background-color: transparent;
}

#u357
{
	border-width: 0px;
	border-color: transparent;
	background-color: #AEE1D3;
}

#accordionu358wrapper
{
	-webkit-transform: matrix(-1,0,0,-1,183,499);
	-ms-transform: matrix(-1,0,0,-1,183,499);
	transform: matrix(-1,0,0,-1,183,499);
}

#accordionu358
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1368
{
	vertical-align: top;
	background: transparent url("../images/u1368.png") no-repeat 0px 0px;
}

#u1368.AccordionPanelTabOpen
{
	background: transparent url("../images/u1368-a.png") no-repeat 0px 0px;
}

#u375
{
	vertical-align: top;
	background: transparent url("../images/u375.png") no-repeat 0px 0px;
}

#u375:hover
{
	background: transparent url("../images/u375-r.png") no-repeat 0px 0px;
}

#u375.AccordionPanelTabOpen
{
	background: transparent url("../images/u375-a.png") no-repeat 0px 0px;
}

#u361
{
	vertical-align: top;
	background: transparent url("../images/u361.png") no-repeat 0px 0px;
}

#u361.AccordionPanelTabOpen
{
	background: transparent url("../images/u361-a.png") no-repeat 0px 0px;
}

#u1342
{
	vertical-align: top;
	background: transparent url("../images/u1342.png") no-repeat 0px 0px;
}

#u1342.AccordionPanelTabOpen
{
	background: transparent url("../images/u1342-a.png") no-repeat 0px 0px;
}

#u1350
{
	vertical-align: top;
	background: transparent url("../images/u1350.png") no-repeat 0px 0px;
}

#u1350.AccordionPanelTabOpen
{
	background: transparent url("../images/u1350-a.png") no-repeat 0px 0px;
}

#u381
{
	vertical-align: top;
	background: transparent url("../images/u381.png") no-repeat 0px 0px;
}

#u381.AccordionPanelTabOpen
{
	background: transparent url("../images/u381-a.png") no-repeat 0px 0px;
}

#u372
{
	vertical-align: top;
	background: transparent url("../images/u372.png") no-repeat 0px 0px;
}

#u372.AccordionPanelTabOpen
{
	background: transparent url("../images/u372-a.png") no-repeat 0px 0px;
}

#u363
{
	vertical-align: top;
	background: transparent url("../images/u363.png") no-repeat 0px 0px;
}

#u363.AccordionPanelTabOpen
{
	background: transparent url("../images/u363-a.png") no-repeat 0px 0px;
}

#u1360
{
	vertical-align: top;
	background: transparent url("../images/u1360.png") no-repeat 0px 0px;
}

#u1360.AccordionPanelTabOpen
{
	background: transparent url("../images/u1360-a.png") no-repeat 0px 0px;
}

#u370
{
	vertical-align: top;
	background: transparent url("../images/u370.png") no-repeat 0px 0px;
}

#u370.AccordionPanelTabOpen
{
	background: transparent url("../images/u370-a.png") no-repeat 0px 0px;
}

#u366
{
	vertical-align: top;
	background: transparent url("../images/u366.png") no-repeat 0px 0px;
}

#u366.AccordionPanelTabOpen
{
	background: transparent url("../images/u366-a.png") no-repeat 0px 0px;
}

#u1369,#u376,#u360,#u1341,#u1351,#u382,#u373,#u364,#u1359,#u369,#u367
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u351
{
	border-width: 0px;
	border-color: transparent;
	background-color: #97E1D3;
}

#u351:hover
{
	background-color: #42B6FF;
}

#u351.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: #42B6FF;
}

#u356.ButtonSelected,#u1367,#u374,#u359,#u1340,#u1349,#u380,#u371,#u362,#u1358,#u368,#u365,#u352
{
	background-color: transparent;
}

#u347
{
	border-width: 0px;
	border-color: transparent;
	background-color: #97E1D3;
}

#u347:hover
{
	background-color: #42B6FF;
}

#u348
{
	background-color: transparent;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#u640-6
{
	display: block;
	vertical-align: top;
}

