.version.teatro /* version checker */
{
	color: #000006;
	background-color: #F4F23E;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 118px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 801px;
	margin-left: auto;
	margin-right: auto;
}

#buttonu345
{
	z-index: 2;
	width: 405px;
	position: fixed;
	top: -28px;
	left: -224px;
}

#buttonu345.ButtonSelected
{
	width: 405px;
	min-height: 0px;
	margin: 0px;
}

#pamphletu346
{
	z-index: 3;
	width: 185px;
	height: 1353px;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 220px;
}

#u356
{
	position: absolute;
	width: 185px;
}

#u356.ButtonSelected
{
	width: 185px;
	min-height: 0px;
	margin: 0px;
}

#u356popup
{
	z-index: 4;
}

#u357
{
	z-index: 5;
	width: 185px;
	height: 1393px;
	margin-right: -10000px;
	position: relative;
}

#accordionu358wrapper
{
	min-height: 544px;
	z-index: 6;
	margin-right: -10000px;
	margin-top: 763px;
}

#accordionu358
{
	z-index: 6;
	width: 183px;
	position: relative;
}

#u1367
{
	z-index: 7;
	width: 183px;
	position: relative;
}

#u1368
{
	z-index: 9;
	height: 45px;
	width: 184px;
	position: relative;
}

#u1369
{
	z-index: 11;
	width: 183px;
	height: 4px;
	position: relative;
}

#u374
{
	z-index: 12;
	width: 183px;
	position: relative;
}

#u375
{
	z-index: 14;
	height: 45px;
	width: 184px;
	position: relative;
}

#u376
{
	z-index: 17;
	width: 183px;
	height: 4px;
	position: relative;
}

#u359
{
	z-index: 18;
	width: 183px;
	position: relative;
}

#u361
{
	z-index: 20;
	height: 45px;
	width: 184px;
	position: relative;
}

#u360
{
	z-index: 22;
	width: 183px;
	height: 4px;
	position: relative;
}

#u1340
{
	z-index: 23;
	width: 183px;
	position: relative;
}

#u1342
{
	z-index: 25;
	height: 45px;
	width: 184px;
	position: relative;
}

#u1341
{
	z-index: 27;
	width: 183px;
	height: 4px;
	position: relative;
}

#u1349
{
	z-index: 28;
	width: 183px;
	position: relative;
}

#u1350
{
	z-index: 30;
	height: 45px;
	width: 184px;
	position: relative;
}

#u1351
{
	z-index: 32;
	width: 183px;
	height: 4px;
	position: relative;
}

#u380
{
	z-index: 33;
	width: 183px;
	position: relative;
}

#u381
{
	z-index: 35;
	height: 45px;
	width: 184px;
	position: relative;
}

#u382
{
	z-index: 37;
	width: 183px;
	height: 4px;
	position: relative;
}

#u371
{
	z-index: 38;
	width: 183px;
	position: relative;
}

#u372
{
	z-index: 40;
	height: 45px;
	width: 184px;
	position: relative;
}

#u373
{
	z-index: 42;
	width: 183px;
	height: 4px;
	position: relative;
}

#u362
{
	z-index: 43;
	width: 183px;
	position: relative;
}

#u363
{
	z-index: 45;
	height: 45px;
	width: 184px;
	position: relative;
}

#u364
{
	z-index: 47;
	width: 183px;
	height: 4px;
	position: relative;
}

#u1358
{
	z-index: 48;
	width: 183px;
	position: relative;
}

#u1360
{
	z-index: 50;
	height: 45px;
	width: 184px;
	position: relative;
}

#u1359
{
	z-index: 52;
	width: 183px;
	height: 4px;
	position: relative;
}

#u368
{
	z-index: 53;
	width: 183px;
	position: relative;
}

#u370
{
	z-index: 55;
	height: 45px;
	width: 184px;
	position: relative;
}

#u369
{
	z-index: 57;
	width: 183px;
	height: 4px;
	position: relative;
}

#u365
{
	z-index: 58;
	width: 183px;
	position: relative;
}

#u366
{
	z-index: 60;
	height: 45px;
	width: 184px;
	position: relative;
}

#u367
{
	z-index: 63;
	width: 183px;
	height: 4px;
	position: relative;
}

#u1570
{
	z-index: 64;
	width: 183px;
	position: relative;
}

#u1367_position_content,#u374_position_content,#u359_position_content,#u1340_position_content,#u1349_position_content,#u380_position_content,#u371_position_content,#u362_position_content,#u1358_position_content,#u368_position_content,#u365_position_content,#u1570_position_content
{
	width: 100%;
}

#u1571
{
	z-index: 66;
	height: 45px;
	width: 184px;
	position: relative;
}

#u1572
{
	z-index: 68;
	width: 183px;
	height: 4px;
	position: relative;
}

#u350
{
	z-index: 69;
	width: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1321px;
	left: 129px;
}

#u351
{
	position: absolute;
	width: 72px;
	padding-bottom: 17px;
	top: -17px;
	left: -17px;
}

#u351:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u351.PamphletThumbSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u352
{
	z-index: 71;
	width: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
}

#u351:hover #u352
{
	width: 39px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u351.PamphletThumbSelected #u352
{
	width: 39px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u352_img
{
	margin-right: -1px;
}

#u347
{
	position: absolute;
	width: 73px;
	top: 1303px;
	left: 111px;
}

#u347:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u348
{
	z-index: 74;
	width: 72px;
	position: relative;
	margin-right: -10000px;
}

#u640-6
{
	z-index: 76;
	position: relative;
	margin-right: -10000px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 720px;
	padding-top: 36px;
	padding-bottom: 168px;
}


